{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'image-style.css' %}">

<style>
  #submitbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #4CAF50;
  }

  body {
    background-image: url(/static/images/bg_3.png);
  }
</style>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body ">

          <img src="{% static 'images/p_logo.png' %}" alt="Avatar" class="avatar">
          <br>

          <h5 style="text-align: center;">Patient Details</h5>

          <form action="" method="POST">
            {% csrf_token %}

            <div class="form-group">
              <label for="name"><b> Name </b></label>
              <input type="text" class="form-control" id="p_name" name="p_name" placeholder="Enter patient name"
                value="{{ entered_name }}" required>
            </div>

            <div class="form-group">
              <label for="age"><b> Age </b></label>
              <input type="number" min="1" max="100" class="form-control" id="p_age" name="p_age"
                placeholder="Enter patient age" value="{{ entered_age }}" required>
            </div>

            <div class="form-group">
              <label><b> Select District </b></label>
              <select class="form-control selectpicker" id="p_district" name="p_district" required>
                {% for district in districts %}
                <option value="{{ district.id }}" {% if district.id == selected_district_id %}selected{% endif %}>
                  {{ district.name }}
                </option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label for="location"><b> Location / Chowk </b></label>
              <input type="text" class="form-control" id="p_location" name="p_location"
                placeholder="Enter location / street" value="{{ entered_location }}">
            </div>

            <div class="form-group">
              <label for="contact"><b> Contact </b></label>
              <input type="tel" class="form-control" id="p_contact" name="p_contact" placeholder="Enter patient contact"
                value="{{ entered_contact }}" required>
            </div>

            <div class="form-group">
              <label><b> Blood Group </b></label>
              <select class="form-control selectpicker" data-show-subtext="true" data-live-search="true" id="bloodgroup"
                name="bloodgroup" required>

                <option value="O-" {% if entered_bloodgroup == 'O-' %}selected{% endif %}>O negative</option>
                <option value="O+" {% if entered_bloodgroup == 'O+' %}selected{% endif %}>O positive</option>
                <option value="A-" {% if entered_bloodgroup == 'A-' %}selected{% endif %}>A negative</option>
                <option value="A+" {% if entered_bloodgroup == 'A+' %}selected{% endif %}>A positive</option>
                <option value="B-" {% if entered_bloodgroup == 'B-' %}selected{% endif %}>B negative</option>
                <option value="B+" {% if entered_bloodgroup == 'B+' %}selected{% endif %}>B positive</option>
                <option value="AB-" {% if entered_bloodgroup == 'AB-' %}selected{% endif %}>AB negative</option>
                <option value="AB+" {% if entered_bloodgroup == 'AB+' %}selected{% endif %}>AB positive</option>

              </select>
            </div>



            <!-- Select Disease OR Surgery -->

            <div class="form-group">

              <label><b> Select Disease / Surgery </b></label>

              <select class="form-control" id="select_type" required>

                <option value="">-- Select --</option>

                <option value="disease" {% if selected_type == 'disease' %}selected{% endif %}>Disease</option>
                <option value="surgery" {% if selected_type == 'surgery' %}selected{% endif %}>Surgery</option>

              </select>


            </div>



            <!-- Select Disease -->

            <div class="form-group" id="disease_div">

              <label><b> Disease </b></label>

              <select class="form-control selectpicker" id="disease" name="disease">

                {% for disease in diseases %}
                <option value="{{ disease.id }}-{{ disease.name }}" 
                  {% if disease.id == selected_disease_id %}selected{% endif %}>
                  {{ disease.name }}
                </option>
                {% endfor %}

              </select>

            </div>




            <!-- Select Surgery -->

            <div class="form-group" id="surgery_div">

              <label><b> Surgery </b></label>

              <select class="form-control selectpicker" id="surgery" name="surgery">

                {% for surgery in surgeries %}
                <option value="{{ surgery.id }}-{{ surgery.name }}" 
                {% if surgery.id == selected_surgery_id %}selected{% endif %}>
                  {{ surgery.name }}
                </option>
                {% endfor %}

              </select>

            </div>


            <br>

            <div class="text-center">
              <button type="submit" class="btn btn-info btn-block" id="submitbtn"> <b>Find Nearest Hospitals</b> </button><br>
            </div>

          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-2"><br></div>

    <div class="col-sm-5 cardcenter">

      <div class="card" style="background-color:#49a9e9;">
        {% if hospitals is None %}
        <h6>Please submit the form to get hospital recommendations. <br> </h6>
        {% else %}
        <br>
        <h5 style="color: rgb(255, 255, 255); text-align: center;">
        Nearest Hospitals recommendation for <br> 
        <b>
          {% if selected_type == 'disease' %}
              <strong>{{ selected_disease_name }}</strong>
          {% elif selected_type == 'surgery' %}
              <strong>{{ selected_surgery_name }}</strong>
          {% endif %}
        </b>
        </h5>
        {% endif %}

        <div id="hospital-related" style="margin-left: 10px;">

          {% if hospitals %}
          {% for hospital in hospitals|slice:":6" %}
          <a href="{% url 'detail' hospital.id %}">
            <div class="img__wrap">
              <img class="img__img" src="{{ hospital.images.url }}" width="200px" height="220px" />
              <div class="img__description_layer">
                <p class="img__description" style="text-align: center; font-size: large; font-weight: bold;">
                  {{ hospital.name }}
                </p>
              </div>
            </div>
          </a>
          {% endfor %}
          {% else %}
          <h5
            style="background:rgb(252, 44, 79);-webkit-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent;">
            Sorry! Recommendations not available.
          </h5>
          {% endif %}

        </div>
      </div>

    </div>

    <div class="col-sm-1"></div>
  </div>
</div>






<script>

document.addEventListener("DOMContentLoaded", function() {

  const selectType = document.getElementById("select_type");

  const diseaseDiv = document.getElementById("disease_div");
  const surgeryDiv = document.getElementById("surgery_div");
  const diseaseSelect = document.getElementById("disease");
  const surgerySelect = document.getElementById("surgery");

  // Function to show/hide divs
  function updateDivs(selected) 
  {

    if (selected === "disease") 
    {

      diseaseDiv.style.display = "block";
      surgeryDiv.style.display = "none";
      diseaseSelect.disabled = false;
      diseaseSelect.required = true;
      surgerySelect.disabled = true;
      surgerySelect.required = false;
      surgerySelect.value = "";

    } 
    else if (selected === "surgery") 
    {

      surgeryDiv.style.display = "block";
      diseaseDiv.style.display = "none";
      surgerySelect.disabled = false;
      surgerySelect.required = true;
      diseaseSelect.disabled = true;
      diseaseSelect.required = false;
      diseaseSelect.value = "";

    } 
    else 
    {

      diseaseDiv.style.display = "none";
      surgeryDiv.style.display = "none";
      diseaseSelect.disabled = true;
      surgerySelect.disabled = true;
      diseaseSelect.required = false;
      surgerySelect.required = false;
      
    }


    $('.selectpicker').selectpicker('refresh');
  }



  // --- On change ---
  selectType.addEventListener("change", function() 
  {

    updateDivs(this.value);

  });



  // --- On page load, set initial state from previously selected type ---
  const initialType = "{{ selected_type|default_if_none:'' }}";   // from Django context
  selectType.value = initialType;     

  updateDivs(initialType);

});

</script>



{% endblock %}